// UNIVERSAL STYLES
@font-face {
  font-family: headerFont;
  src: url("../font/copperplate.ttf");
  font-weight: bold; }
@font-face {
  font-family: mainFont;
  src: url("../font/din-condensed.ttf"); }


// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$navy:#012642;
$gold:#BA991F;

$tabs-underline-color: $gold!important;

.navy-M{
  color: $navy;
}
.gold-M{
  color: $gold;
}

body{
  background-color:$navy;
  background-image: url(../img/pinstripe.png);
  padding-top: 0;
  padding-bottom:0;
}
.button-collapse{
  padding:0 1em;
}
.btn-large,
.btn{
  background-color:$navy;
  color: white;
}
.btn,
.btn-large:hover{
  background-color:$navy;
  color: gold;
}
.hidden{
  display: none;
}

.container{
  width: 85%;
}
.active{
  background-color: $gold;
}
.card-panel{
  background-color: $navy;
}


.card .card-content p {
  margin: 0;
  color: inherit;
  margin: 0.7em 0;
  font-size: 1.1em;
}
// FONTS

h1{
  font-family:headerFont;
}
p{
  font-family:mainFont;
}

.page-footer{
  background-color:$navy !important;
  margin:0!important;
  font-family: mainFont;
}

.footer-contact{
  a{
    color: $gold;
    font-size: 1.4em;
    i{
      padding:5px;
    }
  }
  a:hover{
    color: white;
  }
}



li{
  list-style-type: none !important;
}

#findOut{
  background-image:url(../img/pinstripe.png);
}

// top banner

.banner{
  background-image:url(../img/pinstripe.png);
  height: auto;
.nav-wrapper{
  #logo{
    height: auto;
    display: inline-block;
    height: 150px;
    vertical-align: middle;
    margin:1em 0;
  }
  h1{
    display: inline-block;
    color: $navy;
    vertical-align: middle;
  }
  }
}
.brandLogo{
  float: right;
  position:relative;
}

//CONTEST BANNER
.c-banner{
  .slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
  font-family: mainFont;
  color: white;
  position:relative;
  background-color:$navy;
  h3{
    // padding-top:40px;
    padding-left: 40px;
  }
  h5{
    margin-top: 3em;
  }
  .tourBus{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-size: 100%;
  }

}

#dropDown1{
  z-index: 9999;
}
/////////////// SIDENAV

.side-nav a {
  color: #444;
  display: block;
  font-size: 2rem;
  height: 72px;
  line-height: 72px;
  padding: 0 28px;
}

#donate{
  position: absolute;
  top: 15px;
  right: 15px;
  /* padding: 25px; */
  font-size: 1.2em;
  color: white;
}
#contest{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2.2em;
  color: $navy;
}


// navigation
nav{
  display: table;
  background-color: rgba(186,153,31,0.89);
  margin-bottom: 0;
  font-family: mainFont;
  width: 100%;
  li{
    width:12.5%;
    a{
      font-size: 1.8em;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
nav{
  display: table;
  background-color: rgba(186,153,31,0.89);
  margin-bottom: 0;
  font-family: mainFont;
  width: 100%;
  li:hover{
    width:12.5%;
    a{
      font-size: 1.8em;
      text-align: center;
      color: $navy;
      text-transform: uppercase;
    }
  }
}
#login{
  background-color:$navy;
}

#login{
  a:hover{
    color:white;
  }
}


//DROPDOWN CONTENT
.dropdown-content li>a,
.dropdown-content li>span, {
  font-size: 1.2rem!important;
  color: white!important;
  display: block!important;
  padding: 1rem 1rem!important;
  position:relative!important;
}
.dropdown-content li>a:hover,
.dropdown-content li>span:hover, {
  font-size: 1.2rem!important;
  color: $navy!important;
  display: block!important;
  padding: 1rem 1rem!important;
  position:relative!important;  
}
.dropdown-content li {
  clear: both!important;
  color: rgba(0,0,0,0.87)!important;
  cursor: pointer!important;
  line-height: 1.5rem!important;
  width: 100%!important;
  text-align: center!important;
  text-transform: none!important;
}




///slider
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.slider .slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 100%;
}
.slider .slides li .caption p {
  color: black;
  font-size: 1.7em;
  padding: 0.3em;
}
.waves-effect.waves-light.card {
  width: 200px;
  text-align: center;
}

///SOCIAL ROW BLOG AND TWITTER FEED

.social-home,
.bottom-row{
  .card{
    min-height: 200px;
    background-color:rgba(186,153,31,0.89);
  }
}

.blog-card{
  padding:2em;
}

.blog-image{
  float: left;
  margin-right: 1em;
  img{
    max-height: 350px;
    padding:1em;
  }
}

.header{
  font-family: mainFont;
  text-transform: uppercase;
  font-size: 2.4em;
}

// Twitter card 

.twitter-col{
  .card{
    padding: 2em;
  }
}

//contact page

.contact-card{
  padding:2em;
  position:relative;
}
.contact{
  position:absolute;
  bottom:0;
}
#contact-foot{
  position:absolute;
  left: 0;
  top:2%;

  i{
    font-size: 2.4em;
    display: block;
    color:$navy;
    a{
      color: $navy;
    }
  }
}

//FEATURED ROW SPONSORS AND TOUR
//Sponsors
.sponsor-card{
  padding:2em;
  img{
    max-width: 100%;
  }
  #spon-list{
    background-color: white;
    li{
      display: inline-block;
      width: 25%;
      background-color:white;
      vertical-align: middle;
    }
    li:hover{
      background-color:$navy;
    }
  }
}



#tourAccord{
  border: none;
  .middle{
    text-transform: uppercase;
  }
  .collection{
    margin:0;
  }
  .collapsible-header{
  background-color: $navy;
  color: white;
  font-size: 1.2em;
  height: auto;
  text-align: center;
  }
  .collection-item{
    font-size: 1.2em;
    text-align: center;
  }
}


//Tour Card 
.tour-card{
  padding:2em;
  font-family: mainFont;
}


// sticky header
.sticky{
  position: fixed;
  top: 0;
  z-index:9999;
}

////////////////////////////////////////////////ABOUT US PAGE

.about-title{
 position:relative;
 z-index:99999; 
 color: white;
 padding-left: 10%;
 text-shadow: 2px 2px 2px black;
}
.parallax{
  .bottom{
    padding-top: 6em;
  }
}
#about1{
  p{
    font-size: 1.4em;
  }
}
#aboutUs{
  .icon-block{
    padding:20px;
  }
  h2{
    font-size: 4.3em;
  }
  h5{
    font-family: mainFont;
    text-transform: uppercase;
  }
  p{
    font-size:1.3em;
  }
}
///////////////////////////////////////////////////////TOUR PAGE 
.header-container{
  width:100%;
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-position: center;
  height: 300px;

  h1{
    margin:0;
    color: white;
    font-size: 3.2em;
  }
}


#tour-container{
  width: 100%;
  .header{
    font-size: 3.7em;
  }
  .collapsible-header{
    background-color:$navy;
    color:white;
    i{
      color:white;
    }
    p{
      color:white;
      font-family: mainFont;
    }
  }
}

.collapsible{
  li{
    background-color:rgba(186,153,31,0.89);
  }
}

.header-collapse{
  font-family: mainFont;
  padding:0;
  margin:0;
}

#tour-container{
  .card-panel{
    img{
      width: 100%;
    }
    padding:0;
    p{
      font-size: 1.3em;
      padding:0.6rem;
    }
  }
}
.popout-img-bg{
  position:absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.team-btn{
  position:fixed;
  right: 0;
  margin:0;
  transform: rotate(90deg);
  top: 50%;
  font-family: mainFont;
  color: white;
  font-size: 1.5em;
  display: none;
  .btn-large, .btn{
    color:white;
    font-size: 1.5em;
  }
}
  #social{
    margin:0;
    position:fixed;
    left: 0;
    top: 50%;
    li{
      background-color:$navy;
      font-size: 1.6em;
      i{
        display: block;
        font-size: 1.2em;
        padding: 0.5em;
        color: white;
      }    
    }
  }

.waves-effect:hover{
  background-color: $gold;
}

// TEAM SECTION
.modal.bottom-sheet{
  height: 90%;
  max-height: 90%;
  background-image:url(../img/pinstripe.png);
  overflow-y: hidden;
  
  .player-container{
    overflow-y: scroll;
    white-space: nowrap;
    width: auto;
  }

  .player{
    background-color:$navy;
    display: inline-block;
    .card{
      .card-title{
        font-size: 2.5em;
        i{
          font-size: 0.6em;
          float: right;
        }
        i:hover{
          color: $gold;
        }
      }
      .card-reveal{
        background-color:$navy;
        color: white;
        font-family: mainFont;
        font-size: 1.2em; 
        overflow:hidden;
        .card-title{
          margin:0;
        }
        strong{
          color: $gold;
          margin-right: 0.91em;
        }
        p{
          color: white;
        }
      }
      .left{
        margin-right: 1em;
      }
      .card-image{
        height: 478px;
        text-align: center;
        img{
        }
      }
    }
  }
}

.mdi-navigation-more-vert{
  color: $gold;
}

/////////////////////////BLOG ANd News
.tabs{
  animation:none;
  transition: none;
}

.tabs .tab a{
  font-family: mainFont;
  color: $navy ;
  font-size: 1.7em;
  transition: $navy .28s ease;
  animation: none;
    transition: none;
}
.tabs .tab:hover a{
  font-family: mainFont;
  color: $navy ;
  font-size: 1.7em;
}

//story
.story{
  .story-title{
    font-size: 3,9em;
    font-family: headerFont;
    padding:0.5em;
    text-align: center;
    color: $navy;
  }
  .story-content{
    font-size: 1.2em;
  }
}


#blogPosts{
  background-color:$gold;
}
#newsPosts{
  background-color:$navy;
  color: white;
}



/////////////// MEDIA QUERIES
// Small screens are defined as having a max-width of 600px 
// Medium screens are defined as having a max-width of 992px 
// Large screen are defined as having a min-width of 992px

@media (max-width:992px){
  .banner{
    display: none;
  }
  // .team-btn{
  //   transform: rotate(90deg);
  // }
}


@media (max-width:870px){
  #rightsMatter{
    h3{
      font-size: 1.4em;
    }
  }
}


@media (max-width:500px){
  #rightsMatter{
    h3{
      font-size: 0.8em;
    }
  }
}

// @media (max-width:400px){
//   .parallax{
//     .header{
//       font-size: 2.2em;
//     }
//   }
// }

@media #{$medium-and-down} {
    // styles for small screens and down
  #location{
    display: none;
  }
  .sponsor-home{
    .card-content{
      display: none;
    }
    #contact-foot{
      padding:0;
      position: relative;
    }
  }
.team-btn{
  position: fixed;
  right: 0;
  margin: 0;
  color: white;
  font-size: 1.5em;
  display: none;
  transform: rotate(0deg);
  top: inherit;
  bottom: 0;
}

i.mdi-hardware-keyboard-arrow-down{
  display: none;
}


}


@media #{$small-and-down} {
    // styles for small screens and down
    .container{
      width:96%;
    }
    .se-img{
      text-align: center;
      margin: 0 auto;
      left: 50%;
    }

    // contest
    .c-banner{
      h2, h3{
        font-size: 1.9em;
      }
    }

  // read paragraphs easier on mobile
  .card .card-content p {
  margin: 0;
  color: inherit;
  font-size: 1.2em;
  text-indent: 15px;
  margin: 20px 0;
}

  .parallax{
    .header{
      font-size: 2.2em;
    }
  }
  .team-btn{
    transform: rotate(90deg);
  }
.slider .slides li .caption {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 14%;
  width: 70%;
  top: auto;
  opacity: 0;
}

.team-btn{
  position: fixed;
  right: 0;
  margin: 0;
  color: white;
  font-size: 1.5em;
  display: none;
  top: inherit;
  transform: rotate(0deg);
  bottom: 0;
}


// MAKE MOBILE BAV DROPDOWN MORE READABLE

ul#dropDown1 {
  width: 180px!important;
}
}


